body {
    margin: 0px 16px;
    border-left: 1px rgb(47, 51, 54) solid;
    border-right: 1px rgb(47, 51, 54) solid;
    background-color: black;
}

.wd-searchbar {
    position: relative;
    margin: 10px 0px 0px 16px;
}

.wd-searchbox {
    border-radius: 50px;
    height: 25px;
    width: 95%;
    padding-left: 10px;
    color: white;
    background-color: darkgray;
}

.wd-gear-icon {
    color: lightskyblue;
    text-decoration: none;
    position: absolute;
    right: 12px;
}

.wd-tab-row {
    border-bottom: 3px rgb(47, 51, 54) solid;
    padding-bottom: 2px;
    padding-left: 16px;
}

.wd-tab-row ul {
    padding: 0px;
}

.wd-tab-row li {
    list-style: none;
    display: inline;
    padding: 16px;
    font-size: 15px;
}

.wd-tab-selected {
    color: rgb(29, 161, 242);
    border-bottom-color: rgb(29, 161, 242);
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.wd-tab {
    color: rgb(110, 118, 125);
}

.wd-post-col > div {
    padding: 16px 0px 16px 16px;
    border-bottom: 1px rgb(47, 51, 54) solid;
}

.wd-post-suggested-topic, .wd-post-suggested-number {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

.wd-post-title {
    font-size: 20px;
    color: white;
}

.wd-post-suggested p {
    margin: 0px;
    padding: 1px 0px;
}

.wd-post-news {
    position: relative;
    min-height: 150px;
}

.wd-post-news > div > * {
    /* display: inline; */
    margin: 1px 1px 1px;
    padding: 1px;
    font-size: 13px;
}

.wd-post-news-text {
    max-width: 80%;
    margin: 1px;
}

.wd-post-news-author {
    color: white;
    font-size: 13px;
}

.wd-post-news-topic {
    color: lightgray;
}

.wd-post-img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    position: absolute;
    top: 20%;
    right: 16px;
}